<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MBT - Contacto</title>
	<link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="..//css/normalize.css">
	<link rel="stylesheet" href="../css/estilo.css">		
</head>
<body class="contacto__body">
	<header class="header__background">
		<a href="../index.html" class="nav__menu__a"><img src="../assets/img/mbtlogo.png" alt="logombt" class="nav__img__logo"></a>
		<nav class="nav__menu">	
			<ul class="nav__menu__list">
				<li class="nav__menu__list__pages"><a href="../index.html">Inicio</a></li>
				<li class="nav__menu__list__pages"><a href="../views/nosotros.html">Nosotros</a></li>
				<li class="nav__menu__list__pages"><a href="../views/servicios.html">Servicios</a></li>
				<li class="nav__menu__list__pages"><a href="../views/aeronaves.html">Aeronaves</a></li>
			        <ul class="nav__menu__list__pages--hide">
			        	<li>Robinson R-44</li>
			        	<li>Tecnam P-2002</li> 	
			        	<li>Piper PA-31 Navajo</li>
			        </ul>	
				<li class="nav__menu__list__pages"><a href="../views/galeria.html">Galeria</a></li>
				<li class="nav__menu__list__pages"><a href="../views/instruccion.html">Instrucción</a></li>
				<li class="nav__menu__list__pages"><a href="../views/contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<a href="#"><img src="../assets/img/userlogin.png" alt="userimg" class="header__user__img"></a>
	</header>
	<main class="contacto__text">
		<h1 class="article__title">Contáctenos</h1>
		<p class="contacto__subtitle">Ante cualquier duda puede comunicarse con nosotros:</p>
	</main>
	<section class="contacto__section">
		<form action="" class="contacto__form">
			<input type="text" placeholder="Nombre" class="contacto__form__nombre" required>
			<input type="text" placeholder="Apellido" class="contacto__form__apellido" required>
			<input type="text" placeholder="E-mail" class="contacto__form__email" required>
			<input type="text" placeholder="Tel. de contacto" class="contacto__form__telf" required>
			<textarea placeholder="Mensaje" class="contacto__form__msj"></textarea>
			<input type="submit" value="Enviar" class="btn contacto__enviar">
		</form>
	</section>
	<section class="contacto__redes">
		<h4 class="contacto__visitus">Visitanos también:</h4>
		<div class="contacto__socialnet">
			<a href="https://www.facebook.com/MBT-Aeronautics-295474168035404/" target="_blank" class="contacto__fbimg"><img src="../assets/img/fblogo.png" alt="fblogo" class="contacto__fbimg"></a>
			<a href="https://www.instagram.com/mbt.aeronautics/" target="_blank" class="contacto__igimg"><img src="../assets/img/iglogo.png" alt="iglogo" class="contacto__igimg"></a>
		</div>
	</section>
	<footer class="footer">
		<hr class="footer__line">
		<div class="footer__div">
			<ul class="footer__ul">
				<li class="footer__ul__li"><a href="index.html" class="footer__text">Inicio</a></li>
				<li class="footer__ul__li"><a href="https://www.facebook.com/MBT-Aeronautics-295474168035404/" target="_blank" class="footer__text">Facebook</a></li>
				<li class="footer__ul__li"><a href="https://www.instagram.com/mbt.aeronautics/" target="_blank" class="footer__text">Instagram</a></li>
				<li class="footer__ul__li"><a href="views/contacto.html" class="footer__text">Contacto</a></li>
			</ul>
			<p class="copyright">Todos los derechos reservados a Franco Córdoba</p>
		</div>
	</footer>
</body>
</html>