<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MBT - Galeria</title>
	<link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="..//css/normalize.css">
	<link rel="stylesheet" href="../css/estilo.css">		
</head>
<body class="galeria__body">
	<header class="header__background">
		<a href="../index.html" class="nav__menu__a"><img src="../assets/img/mbtlogo.png" alt="logombt" class="nav__img__logo"></a>
		<nav class="nav__menu">	
			<ul class="nav__menu__list">
				<li class="nav__menu__list__pages"><a href="../index.html">Inicio</a></li>
				<li class="nav__menu__list__pages"><a href="../views/nosotros.html">Nosotros</a></li>
				<li class="nav__menu__list__pages"><a href="../views/servicios.html">Servicios</a></li>
				<li class="nav__menu__list__pages"><a href="../views/aeronaves.html">Aeronaves</a></li>
			        <ul class="nav__menu__list__pages--hide">
			        	<li>Robinson R-44</li>
			        	<li>Tecnam P-2002</li> 	
			        	<li>Piper PA-31 Navajo</li>
			        </ul>	
				<li class="nav__menu__list__pages"><a href="../views/galeria.html">Galeria</a></li>
				<li class="nav__menu__list__pages"><a href="../views/instruccion.html">Instrucción</a></li>
				<li class="nav__menu__list__pages"><a href="../views/contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<a href="#"><img src="../assets/img/userlogin.png" alt="userimg" class="header__user__img"></a>
	</header>
	<main class="galeria__main">		
		<h1 class="article__title">Nuestra Galería</h1>
		<figure class="figure__galery">
			<div class="galery01">
				<img src="../assets/img/galeria01.jpg" alt="galeria01">
			</div>
			<div class="galery02">
				<img src="../assets/img/galeria02.jpg" alt="galeria02">
			</div>
			<div class="galery03">
				<img src="../assets/img/galeria03.jpg" alt="galeria03">
			</div>
			<div class="galery04">
				<img src="../assets/img/galeria04.jpg" alt="galeria04">
			</div>
			<div class="galery05">
				<img src="../assets/img/galeria05.jpg" alt="galeria05">
			</div>
			<div class="galery06">	
				<img src="../assets/img/galeria06.jpg" alt="galeria06">
			</div>
			<div class="galery07">
				<img src="../assets/img/galeria07.jpg" alt="galeria07">
			</div>
			<div class="galery08">
				<img src="../assets/img/galeria08.jpg" alt="galeria08">
			</div>
			<div class="galery09">
				<img src="../assets/img/galeria09.jpg" alt="galeria09">
			</div>
			<div class="galery10">
				<img src="../assets/img/galeria10.jpg" alt="galeria10">
			</div>
			<div class="galery11">
				<img src="../assets/img/galeria11.jpg" alt="galeria11">
			</div>
			<div class="galery12">
				<img src="../assets/img/galeria12.jpg" alt="galeria12">
			</div>
			<div class="galery13">
				<img src="../assets/img/galeria13.jpg" alt="galeria13">
			</div>
			<div class="galery14">
				<img src="../assets/img/galeria14.jpg" alt="galeria14">
			</div>
			<div class="galery15">
				<img src="../assets/img/galeria15.jpg" alt="galeria15">
			</div>
			<div class="galery16">
				<img src="../assets/img/galeria16.jpg" alt="galeria16">
			</div>
			<div class="galery17">
				<img src="../assets/img/galeria17.jpg" alt="galeria17">
			</div>
			<div class="galery18">
				<img src="../assets/img/galeria18.jpg" alt="galeria18">
			</div>
			<div class="galery19">
				<img src="../assets/img/galeria19.jpg" alt="galeria19">
			</div>
			<div class="galery20">
				<img src="../assets/img/galeria20.jpg" alt="galeria20">
			</div>
		</figure>
		<hr class="section__line">
	</main>
	<section class="galeria__video__section">	
		<figure class="galery__figure__vid">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/yeZuWPSU4Xg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="galery__vid__yt"></iframe>
		</figure>
	</section>			
	<footer class="footer">
		<hr class="footer__line">
		<div class="footer__div">
			<ul class="footer__ul">
				<li class="footer__ul__li"><a href="index.html" class="footer__text">Inicio</a></li>
				<li class="footer__ul__li"><a href="https://www.facebook.com/MBT-Aeronautics-295474168035404/" target="_blank" class="footer__text">Facebook</a></li>
				<li class="footer__ul__li"><a href="https://www.instagram.com/mbt.aeronautics/" target="_blank" class="footer__text">Instagram</a></li>
				<li class="footer__ul__li"><a href="views/contacto.html" class="footer__text">Contacto</a></li>
			</ul>
			<p class="copyright">Todos los derechos reservados a Franco Córdoba</p>		
		</div>
	</footer>
</body>
</html>