<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MBT - Nosotros</title>
	<link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/estilo.css">		
</head>
<body class="nosotros__body">
	<header class="header__background">
		<a href="../index.html" class="nav__menu__a"><img src="../assets/img/mbtlogo.png" alt="logombt" class="nav__img__logo"></a>
		<nav class="nav__menu">	
			<ul class="nav__menu__list">
				<li class="nav__menu__list__pages"><a href="../index.html">Inicio</a></li>
				<li class="nav__menu__list__pages"><a href="../views/nosotros.html">Nosotros</a></li>
				<li class="nav__menu__list__pages"><a href="../views/servicios.html">Servicios</a></li>
				<li class="nav__menu__list__pages"><a href="../views/aeronaves.html">Aeronaves</a></li>
			        <ul class="nav__menu__list__pages--hide">
			        	<li>Robinson R-44</li>
			        	<li>Tecnam P-2002</li> 	
			        	<li>Piper PA-31 Navajo</li>
			        </ul>	
				<li class="nav__menu__list__pages"><a href="../views/galeria.html">Galeria</a></li>
				<li class="nav__menu__list__pages"><a href="../views/instruccion.html">Instrucción</a></li>
				<li class="nav__menu__list__pages"><a href="../views/contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<a href="#"><img src="../assets/img/userlogin.png" alt="userimg" class="header__user__img"></a>
	</header>
	<main class="nosotros__section">
		<article class="nosotros__article__description">
			<h1 class="article__title">Acerca de nosotros</h1>
			<p>Somos una empresa dedicada a relizar servicios aeronauticos con diversas aeronaves, tanto en aviones monomotor, multimotor y helicóptero.operamos con distintas aeronaves para cumplir con las diversas demandas en el mundo aeronautico, tanto de transporte de pasajeros como instrucción, formación de pilotos y vuelos de recreación.<br>
			Contamos con diferentes planes de estudios flexibles y adaptables a cada necesidad.</p>
			<hr class="section__line">
		</article>
			
	</main>
	<section class="staff__section">
		<figure>
			<img src="../assets/img/staff1.png" alt="staff1" class="staff__img">
			<div class="staff__desc">
				<h4 class="staff__desc__title">Mauro Dumrauf</h4>
				<p class="staff__desc__subtitle">Instructor de vuelo</p>
			</div>
		</figure>
		<figure>
			<img src="../assets/img/staff2.png" alt="staff2" class="staff__img">
			<div class="staff__desc">
				<h4 class="staff__desc__title">Franco Córdoba</h4>
				<p class="staff__desc__subtitle">Encargado de entrenamiento y simulación</p>
			</div>
		</figure>
		<figure>
			<img src="../assets/img/staff3.png" alt="staff3" class="staff__img">
			<div class="staff__desc">
				<h4 class="staff__desc__title">Chuck Norris</h4>
				<p class="staff__desc__subtitle">Instructor - Piloto Comercial de primera</p>
			</div>
		</figure>
	</section>	
	<footer class="footer">
		<hr class="footer__line">
		<div class="footer__div">
			<ul class="footer__ul">
				<li class="footer__ul__li"><a href="index.html" class="footer__text">Inicio</a></li>
				<li class="footer__ul__li"><a href="https://www.facebook.com/MBT-Aeronautics-295474168035404/" target="_blank" class="footer__text">Facebook</a></li>
				<li class="footer__ul__li"><a href="https://www.instagram.com/mbt.aeronautics/" target="_blank" class="footer__text">Instagram</a></li>
				<li class="footer__ul__li"><a href="views/contacto.html" class="footer__text">Contacto</a></li>
			</ul>
			<p class="copyright">Todos los derechos reservados a Franco Córdoba</p>
		</div>
	</footer>
</body>
</html>